{# File Listing all Users #}
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom d'utilisateur</th>
            <th>Adresse d'utilisateur</th>
            <th>Roles</th>
            <th>Actions</th>                
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.roles|json_encode()}}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                    <a href="{{ path('admin_user_delete', {'id' : user.id}) }}" class="btn btn-danger btn-sm" onclick="return window.confirm('Supprimer l\'utilsateur?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
