{% extends 'base.html.twig' %}

{% block body %}
    <div class="row"><h1>Créer une nouvelle tâche</h1></div>
    <div class="row">
        {% if app.request.get('_route')== 'admin_task_create' and is_granted('ROLE_ADMIN') %}
            {# Use the same twig form but checking granted then redirect to the right page #}
            {{ form_start(form, {'action' : path('admin_task_create')}) }}    
        {% else %}
            {{ form_start(form, {'action' : path('task_create')}) }}
        {% endif %}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
